@model ControlEscolar.Models.Entidades.Kardex

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Kardex Alumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
    </dl>
    <div class="row">
        <div class="col-2">
            <label class="text-center fw-bold fs-5">Materias</label>
            @foreach (var item in Model.Materias)
            {
                <div>
                        @Html.DisplayFor(modelItem => item.Estatus)
                        @Html.DisplayFor(modelItem => item.Nombre)
                </div>
            }
        </div>
        <div class="col-3">
            <p class="text-center fw-bold fs-5">Créditos</p>
            <p class="text-center fw-bold fs-4 my-3 py-3 border border-2">@Model.Creditos</p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index">Regresar a listado de alumnos</a>
</div>